__pycache__/
*.pyc
outputs/
data/

.vscode
deprecated
.DS_Store
.env

workspace
test.py
src/channel/lark-samples-main/
nice_auther/shadow_root/android_agent_project/build
nice_auther/shadow_root/env/local.env
scripts